<h1 class="page-heading">Football</h1>

<section class="favorite-teams" aria-labelledby="favoriteTeams">
    <h2 id="favoriteTeams">Favorite teams</h2>

    <div class="teams">
        <div class="team">

            <h3 class="team__name">Middlesbrough FC</h3>
            <img src="" alt="" class="team__logo">

            <div class="team__facts-wrapper">
                <dl class="team__facts">
                    <div class="team__fact">
                        <dt class="team__fact__key">Nickname</dt>
                        <dd class="team__fact__value">Boro</dd>
                    </div><!-- end team__fact -->
                    
                     <div class="team__fact">
                        <dt class="team__fact__key">Founded</dt>
                        <dd class="team__fact__value">1876</dd>
                    </div><!-- end team__fact -->
                    
                    <div class="team__fact">
                        <dt class="team__fact__key">Stadium</dt>
                        <dd class="team__fact__value">Riverside Stadium</dd>
                    </div><!-- end team__fact -->
                    
                </dl><!-- end team__info -->
            </div><!-- end team__facts-wrapper-->

        </div><!-- end team -->
    </div><!-- end teams -->
</section><!-- end favorite-teams -->








<h1 class="page-heading">Football</h1>

<section class="favorite-teams" aria-labelledby="favoriteTeams">
    <h2 id="favoriteTeams">Favorite teams</h2>

    <div class="teams">
        {% for team in teams.team %}
        <div class="team">

            <h3 class="team__name">{{team.name}}</h3>
            <img src="{{team.image.src}}" alt="{{team.image.alt}}" class="team__logo">

            <div class="team__facts-wrapper">
                <dl class="team__facts">
                    <div class="team__fact">
                        <dt class="team__fact__key">Nickname</dt>
                        <dd class="team__fact__value">{{team.nickname}}</dd>
                    </div><!-- end team__fact -->
                    
                     <div class="team__fact">
                        <dt class="team__fact__key">Founded</dt>
                        <dd class="team__fact__value"><time datetime="{{team.founded}}">{{team.founded}}</time></dd>
                    </div><!-- end team__fact -->
                    
                    <div class="team__fact">
                        <dt class="team__fact__key">Stadium</dt>
                        <dd class="team__fact__value">{{team.stadium}}</dd>
                    </div><!-- end team__fact -->

                    <div class="team__fact">
                        <dt class="team__fact__key">Supporter since</dt>
                        <dd class="team__fact__value"><time datetime="{{team.supporter_since}}">{{team.supporter_since}}</time></dd>
                    </div><!-- end team__fact -->
                    
                </dl><!-- end team__info -->
            </div><!-- end team__facts-wrapper-->

        </div><!-- end team -->
        {% endfor %}
    </div><!-- end teams -->
</section><!-- end favorite-teams -->





<section class="games-attended" aria-labelledby="gamesAttendedHeading">
    <h2 id="gamesAttendedHeading" class="games-attended__heading">Games attended</h2>

    <table class="games-attended__table">
        <caption>Games</caption>
        <thead>
            <tr class="table__row">
                <th class="table__heading">Date</th>
                <th class="table__heading">Home Team</th>
                <th class="table__heading">Away Team</th>
                <th class="table__heading">Result</th>
                <th class="table__heading">Stadium</th>
                <th class="table__heading">Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games.games %}
            <tr class="table__row game">
                <td class="table__data"><time datetime="{{game.datetimes}}">{{game.date}}</time></td>
                <td class="table__data">{{game.home_team}}</td>
                <td class="table__data">{{game.away_team}}</td>
                <td class="table__data">{{game.result}}</td>
                <td class="table__data">{{game.stadium}}</td>
                <td class="table__data">{{game.attendance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><!-- end games-attended__table -->
</section><!-- end games-attended -->