.header {
    background-colors: hsl(180, 69%, 88%);
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: initial;
    flex-wrap: wrap;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
}