.header, .footer {
    padding-block-start: var(--space-250);
    padding-block-end: var(--space-250);

    background-color: hsl(195, 60%, 90%);
}

.nav__list {
    --gap: var(--space-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

     @media (width > 50rem) {
        flex-direction: row;
        --gap: var(--space-500);
    }
}

.nav__link {
    text-decoration: none;
    font-weight: var(--fw-semi-bold);
    transition: opacity 250ms ease-in-out;
    display: flex;
    align-items: center;
    gap: var(--space-100);

        &:is(:hover) {
            opacity: .75;
    }

        &[aria-current="page"] {
            text-decoration: underline;
    }
}

.menu-icon {
    /* block-size: 1em; */
}

.header {
    background-color: #C05746;
    background-color: #153243;
    background-colors: #F4B393;
    background-colors: #22223B;
    background-colors: #403D39;
    background-colors: #EFF8E2;
    background-color: #C9F0FF;

    colors: white;
    colors: #EFF8E2;
    colors: #F5E6E8;
    colors: #C9F0FF;


    background-colors: #DEF3FF;
    colors: #F7A278

  
}

