.header {
    padding-block-start: var(--space-250);
    padding-block-end: var(--space-250);
}

.nav__list {
    --gap: var(--space-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

     @media (width > 50rem) {
        flex-direction: row;
        --gap: var(--space-500);
    }
}

.nav__link {
    text-decoration: none;
    font-weight: var(--fw-semi-bold);
    transition: opacity 250ms ease-in-out;
    display: flex;
    align-items: center;
    gap: var(--space-100);

        &:is(:hover) {
            opacity: .75;
    }

        &[aria-current="page"] {
            text-decoration: underline;
    }
}

.menu-icon {
    /* block-size: 1em; */
}


