
*:focus-visible {
    outline: 3px solid black;
    outline-offset: 2px;
}

body {
    background-color: red;
    background-color: initial;
    background-color: hsl(0, 0%, 99%);
    /* background-color: hsl(180, 10%, 96%);
    background-color: hsl(0, 0%, 100%); */
    font-family: Arial, Helvetica, sans-serif;
    background-colors: hsl(0, 0%, 10%);
    colors: hsl(195, 73%, 79%);
    colors: hsl(16, 83%, 75%);
    background-colors: hsl(0, 0%, 96%);
    color: hsl(80, 80%, 7%);
    color: hsl(0, 0%, 0%);
    background-color: hsl(16, 33%, 95%);
    background-color: hsl(200, 40%, 95%);
    color: hsl(229, 99%, 6%);

    background-color: var(--clr-bg);
    color: var(--clr-text);

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-familys: 'Open Sans', sans-serif;
    font-familys: 'Playfair Display', serif;
}


h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    font-familys: 'Oswald', sans-serif;
}

.on-repeat__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

:is(.header, .main, .footer) {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 70rem;
}

.teams {
    background-color: hotpinks;
    display: grid;
    gap: 40px;
}

.team {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
}

.team__name {
    text-align: center;
}

.team__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 40px;

    @media (width > 50rem) {
        grid-template-columns: 2fr 4fr;
    }
}

.team__facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team__fact {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: 10px;
}

.team__name {
    colors: hsl(229, 99%, 12%);
    colors: #d5002e;
    colors: #f4d832;
}

/* #011da0

#d5002e

#f4d832
*/

.games-attended__table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;

    th, td {
        border: 1px solid;
        text-box: trim-both cap alphabetic;
        padding: .5em;
    }

    th {
        border-block-end: 3px solid currentColor
    }

    tr:nth-child(even) {
        background-color: hsl(from red h s 60%);
        background-color: color-mix(in oklch, red, transparent 40%);
        background-color: whitesmoke;
    }
}

.team__fact__key {
    font-weight: 700;
}

.footer {
    text-align: center;
}

.page-heading {
    text-align: center;
}

.intro-quote__text {
    font-style: italic;
}

.intro-quote__author {
    --flow-space: var(--space-200);
}

a {
    text-underline-offset: .25em;
}

.favorite-teams {
    padding-block-start: var(--space-800);
    padding-block-end: var(--space-800);
}


.main {
    padding-block-start: var(--space-400);
    padding-block-end: var(--space-400);
}

.page-heading {
    padding-block-end: var(--space-400);
}