/* CUSTOM PROPERTIES */

/* COLORS

#cdf6f6

*/


/* TYPOGRAPHY 

-- font-family
-- font-size
-- font-weight

*/


/* SPACING 

-- flow variations?
-- spacing system? using units of 4/8? 

*/

:root {

    /* Primitive properties */

    --clr-lightblue: hsl(200, 40%, 98%);
    --clr-darkblue: hsl(229, 87%, 9%);

    --ff-sans-serif: ;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --size-4px: 4px;
    --size-8px: 8px;
    --size-12px: 12px;
    --size-16px: 16px;
    --size-20px: 20px;
    --size-24px: 24px;
    --size-28px: 28px;
    --size-32px: 32px;
    --size-36px: 36px;
    --size-40px: 40px;
    --size-44px: 44px;
    --size-48px: 48px;
    --size-52px: 52px;
    --size-56px: 56px;
    --size-60px: 60px;
    --size-64px: 64px;
    --size-68px: 68px;
    --size-72px: 72px;
    --size-76px: 76px;
    --size-80px: 80px;

    /* Semantic properties */

    --clr-bg: var(--clr-lightblue);
    --clr-text: var(--clr-darkblue);

    --clr-bg: hsl(0, 0%, 99%);

    --ff-primary: ;

    --fw-regular: var(--fw-400);
    --fw-semi-bold: var(--fw-600);
    --fw-bold: var(--fw-700);

    --space-50: var(--size-4px);
    --space-100: var(--size-8px);
    --space-150: var(--size-12px);
    --space-200: var(--size-16px);
    --space-250: var(--size-20px);
    --space-300: var(--size-24px);
    --space-350: var(--size-28px);
    --space-400: var(--size-32px);
    --space-450: var(--size-36px);
    --space-500: var(--size-40px);
    --space-550: var(--size-44px);
    --space-600: var(--size-48px);
    --space-650: var(--size-52px);
    --space-700: var(--size-56px);
    --space-750: var(--size-60px);
    --space-800: var(--size-64px);
    --space-850: var(--size-68px);
    --space-900: var(--size-72px);
    --space-950: var(--size-76px);
    --space-1000: var(--size-80px);
}

