---
title: 'Home'
---

{% extends "layouts/base.html" %}

{% block content %}

  <section class="homepage__intro flow" aria-labelledby="homepageHeading">
    <h1 class="homepage__heading" id="homepageHeading">Islandstone</h1>
    <p class="homepage__intro__text">Hi, I'm Islandstone. I have 3 main passions: Football, Music and Web.</p>

    <p>Why Islandstone? Well, my name is Øystein, which literally translates to Island(Øy) + stone(stein).</p>
  </section><!-- end homepage_intro -->

{% endblock %}