---
permalink: style.css
---

{% include "src/css/globals/reset.css" %}
{% include "src/css/globals/fonts.css" %}
{% include "src/css/globals/variables.css" %}
{% include "src/css/globals/utilities.css" %}
{% include "src/css/globals/test.css" %}

{% include "src/css/components/header.css" %}
{% include "src/css/components/footer.css" %}
