<h1 class="page-heading">Football</h1>

<section class="favorite-teams" aria-labelledby="favoriteTeams">
    <h2 id="favoriteTeams">Favorite teams</h2>

    <div class="teams">
        <div class="team">

            <h3 class="team__name">Middlesbrough FC</h3>
            <img src="" alt="" class="team__logo">

            <div class="team__facts-wrapper">
                <dl class="team__facts">
                    <div class="team__fact">
                        <dt class="team__fact__key">Nickname</dt>
                        <dd class="team__fact__value">Boro</dd>
                    </div><!-- end team__fact -->
                    
                     <div class="team__fact">
                        <dt class="team__fact__key">Founded</dt>
                        <dd class="team__fact__value">1876</dd>
                    </div><!-- end team__fact -->
                    
                    <div class="team__fact">
                        <dt class="team__fact__key">Stadium</dt>
                        <dd class="team__fact__value">Riverside Stadium</dd>
                    </div><!-- end team__fact -->
                    
                </dl><!-- end team__info -->
            </div><!-- end team__facts-wrapper-->

        </div><!-- end team -->
    </div><!-- end teams -->
</section><!-- end favorite-teams -->








<h1 class="page-heading">Football</h1>

<section class="favorite-teams" aria-labelledby="favoriteTeams">
    <h2 id="favoriteTeams">Favorite teams</h2>

    <div class="teams">
        {% for team in teams.teams %}
        <div class="team">

            <h3 class="team__name">{{team.name}}</h3>
            <img src="" alt="" class="team__logo">

            <div class="team__facts-wrapper">
                <dl class="team__facts">
                    <div class="team__fact">
                        <dt class="team__fact__key">Nickname</dt>
                        <dd class="team__fact__value">{{team.nickname}}</dd>
                    </div><!-- end team__fact -->
                    
                     <div class="team__fact">
                        <dt class="team__fact__key">Founded</dt>
                        <dd class="team__fact__value">{{team.founded}}</dd>
                    </div><!-- end team__fact -->
                    
                    <div class="team__fact">
                        <dt class="team__fact__key">Stadium</dt>
                        <dd class="team__fact__value">{{team.stadium}}</dd>
                    </div><!-- end team__fact -->
                    
                </dl><!-- end team__info -->
            </div><!-- end team__facts-wrapper-->

        </div><!-- end team -->
        {% endfor %}
    </div><!-- end teams -->
</section><!-- end favorite-teams -->
